### Functions

In [6]:
# function definition
'''
def function_name(function parameter):
    function body
    return statement
'''

def addition(a,b):
    return a+b

In [7]:
addition(4,5) # call

9

**1) Write a function called "greeting" that takes the name of the user and greets "Hello {{name}} nice to meet you"**

In [13]:
def greeting(name):
    return "Hello "+ name + " nice to meet you!"

greeting('Subin')

'Hello Subin nice to meet you!'

**2) Create a function `sumnum` that takes a number as a parameter and outputs the sum of natural numbers upto that number**

In [46]:
def sumnum(number):
    c = 0
    for i in range(1,number+1):
        c = c+i
    return c

In [47]:
x = sumnum(106000) # call
print(x)

5618053000

What if I want to pass an undefined parameters?

In [21]:
def football(*team):
    return team

In [22]:
football('Arsenal')

('Arsenal',)

In [23]:
football('Arsenal','Man City')

('Arsenal', 'Man City')

In [24]:
football('Arsenal','Man City', 'Liverpool', 'Man Utd', 'Chelsea')

('Arsenal', 'Man City', 'Liverpool', 'Man Utd', 'Chelsea')

**Anonymous functions or `lambda`**  
A lambda function can take any number of arguments, but can only have one expression.

In [26]:
x = lambda a : a + 10

In [27]:
x(5)

15

In [37]:
x = lambda a, b: a**b;

In [38]:
x(10,10)

10000000000

The power of lambda is seen when you use them as an anonymous function inside another function.

In [49]:
def myfunc(n):
    return lambda a : a * n

In [50]:
doubleit = myfunc(2) # return lambda a : a * 2

In [51]:
doubleit(100)

200

In [53]:
tripleit = myfunc(3) # return lambda a : a * 3

In [54]:
tripleit(100)

300

https://cs.stanford.edu/people/nick/py/python-map-lambda.html

### Class and Object (OOP with Python)

In [7]:
# Blueprint
class MyClass:
    val = 5

In [8]:
o = MyClass() # creating an object of MyClass()
print(o)

<__main__.MyClass object at 0x7f879c173760>

In [9]:
o.val

5

**The `__init__` function**

All classes have a function called __init__(), which is always executed when the class is being initiated.  
Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:

In [29]:
class TechAxisStudent:
    def __init__(self, name, age, address):
        self.name = name
        self.age = age
        self.address = address

In [30]:
s1 = TechAxisStudent("Sachit", 22, "Kumaripati"
                    )

In [31]:
s2 = TechAxisStudent("Pradip", 25, "Bagdol")
s2.name

'Pradip'

In [15]:
s1.age

22

In [16]:
s1.address

'Kumaripati'

**We can also do**

In [129]:
class TechAxisStudent:
    def __init__(self, name, age, address):
        self.student_name = name
        self.student_age = age
        self.student_address = address

In [131]:
s1 = TechAxisStudent("Sachit", 24, 'Kumaripati')

In [132]:
# How to access the name?

**Functions in the class**

In [33]:
a = 'Akash'
b = 'Brt'
"I am "+a+" from "+b

'I am Akash from Brt'

In [36]:
class TechAxisStudent:
    def __init__(self, name, address):
        self.name = name
        self.address = address
        
    def get_full_info(self):
        return "I am "+self.name+" from "+self.address

In [37]:
s1 = TechAxisStudent("Sachit", "Baneshwor")

In [41]:
s1.get_full_info()

'I am Sachit from Baneshwor'

In [51]:
class Person:
    def __init__(self,name,age,sex,intrests):
        self.name=name
        self.sex=sex
        self.age=age
        self.intrests=intrests
        
    def my_intrests(self):
        return "my intrests are "+self.intrests[0]+" and "+self.intrests[1]
    
s1= Person("santosh",24,"male",['a','b'])
s1.my_intrests()

'my intrests are a and b'

- Create a class Company that initializes the attributes `employee_name`, `employee_salary` in the `__init__` function.  
- Create a class function `get_emp_detail` that stores the employee's record in the form of  
- "Employee name is {{employee_name}} and the salary is {{employee_salary}}"

In [57]:
class Company:
    
    def __init__(self, employee_name, employee_salary):
        self.employee_name = employee_name
        self.employee_salary = employee_salary
        
    def get_emp_detail(self):
        return "Employee name is "+self.employee_name+" and the salary is "+str(self.employee_salary)
    
e1 = Company('Ram Bahadur', 100000)
e1.get_emp_detail()

'Employee name is Ram Bahadur and the salary is 100000'

### Inheritance in OOP

Let's revise class and object one more time

In [6]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname

    def get_full_name(self):
        return "The fullname is "+self.firstname+" "+self.lastname

p = Person("Ram", "Thapa")
p.get_full_name()

'The fullname is Ram Thapa'

In [9]:
class Student(Person):
    pass 

s = Student('Ram', 'Thapa')
s.get_full_name()

'The fullname is Ram Thapa'

### The `super` function
The `super()` function will make the child class inherit all the methods and properties from its parent.

In [142]:
class Person:
    def __init__(self, fname, lname):
        self.firstname = fname
        self.lastname = lname

class Student(Person):
    def __init__(self, fname, lname, sname):
        super().__init__(fname, lname)
        self.schoolname = sname
    
    def student_detail(self):
        return self.firstname +" "+self.lastname+" from "+self.schoolname

x = Student("Ram", "Thapa", "Everest")
x.student_detail()

'Ram Thapa from Everest'

### Some exercises on Class and Object

- Create a class named `Player` with `init` parameters `name`, `country`.  
- Create a derived class named `GoalKeeper` with `init` parameters same as `Player` as well as `goals_saved`.
- Create a class function `keeper_info` in the `GoalKeeper` class that prints their info.
- Create a derived class named `Striker`with `init` parameters same as `Player` as well as `goals_scored`. 
- Create a class function `striker_info` in the `Striker` class that prints their info.
- Store the record of 2 goal keepers and 2 strikers by creating the corresponding objects.
- The output should be like:  
`Halland Norway Goals: 26`  
`Neuer Germany Saved: 31`

In [10]:
class Player():
    def __init__(self, name, country):
        self.name = name
        self.country = country
        
class GoalKeeper(Player):
    def __init__(self, name, country, goals_saved):
        super().__init__(name, country)
        self.goals_saved = goals_saved
        
    def keeper_info(self):
        return self.name+' '+self.country+' Saved: '+str(self.goals_saved)

class Striker(Player):
    def __init__(self, name, country, goals_scored):
        super().__init__(name, country)
        self.goals_scored = goals_scored
        
    def striker_info(self):
        return self.name+' '+self.country+' Goals: '+str(self.goals_scored)
        
a = Striker('Halland','Norway',26)
print(a.striker_info())
b = GoalKeeper('Neuer', 'Germany', 31)
print(b.keeper_info())

Halland Norway Goals: 26
Neuer Germany Saved: 31