### Functions

In [1]:
def addition(a,b):
    return a+b

In [2]:
addition(4,5)

9

In [3]:
def football(*args):
    return args

In [4]:
football('Arsenal')

('Arsenal',)

In [5]:
football('Arsenal','Man City')

('Arsenal', 'Man City')

In [6]:
football('Arsenal','Man City', 'Liverpool', 'Man Utd', 'Chelsea')

('Arsenal', 'Man City', 'Liverpool', 'Man Utd', 'Chelsea')

**Write a function called "greeting" that takes the name of the user and greets "Hello {{user}} nice to meet you"**

In [7]:
def greeting(name):
    return "Hello " + name + " nice to meet you."

greeting("Akash")

'Hello Akash nice to meet you.'

### Module (Discuss)

### Python data structure

**List**

In [8]:
a = [1,4,3,3,"apple","ball"]

In [9]:
type(a)

list

In [10]:
a[4]

'apple'

In [11]:
a[2:4]

[3, 3]

In [12]:
a = [1,3,[4,"apple"]]

In [13]:
a[2]

[4, 'apple']

**How to access "apple"?**

In [14]:
a.append(5)

In [15]:
a

[1, 3, [4, 'apple'], 5]

In [16]:
a[1] = 2
a

[1, 2, [4, 'apple'], 5]

**Creating new list and appending to it**

In [17]:
li = []

In [18]:
li.append(5)

In [19]:
li

[5]

In [20]:
li.append('apple')

In [21]:
li

[5, 'apple']

**List append exercise**

In [ ]:
old_list = [1,2,3,4,5,6,7,8,9,10]
li = []
for i in old_list:
    if i%2==0:
        li.append(i)
li

**Dictionary**

In [23]:
a = {
    'name': 'Akash',
    'address': 'Biratnagar',
    'age': 10
}

In [24]:
type(a)

dict

In [25]:
a['name']

'Akash'

In [26]:
a.get('name')

'Akash'

In [30]:
a.get('address')

'Biratnagar'

In [31]:
a = {
    'name': 'Akash',
    'address': 'Biratnagar',
    'interests': ['programming', 'football', 'society and politics']
}

In [34]:
a.get('interests')

['programming', 'football', 'society and politics']

In [35]:
type(a.get('interests'))

list

**How to access 'society and politics'?**

**Tulpe**  
Unlike lists, they are immutable

In [36]:
a = (1,2)

In [37]:
type(a)

tuple

**Set**

In [38]:
a = {1,2,3,3,4,5,5,6,6,6,6,8}

In [39]:
a

{1, 2, 3, 4, 5, 6, 8}

### Basic class and object

All classes have a function called __init__(), which is always executed when the class is being initiated.

Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

p1 = Person("John", 36)

In [ ]:
p1.name

In [ ]:
p1.age

In [ ]:
type(p1)

In [ ]:
class Person:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
    
    def myfunc(self):
        print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()