In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

url = "http://www.mfd.gov.np/"
response = requests.get(url)

soup = BeautifulSoup(response.content, "html.parser")

In [2]:
right_table=soup.find('table', class_='table')

In [3]:
right_table

<table class="table" style="margin-bottom: 0px"><tr><th>Station</th><th class="center">Maximum Temp.<br/>(°C)</th><th class="center">Minimum Temp.<br/>(°C)</th><th class="center">24 hrs Rainfall<br/>(mm)</th></tr><tr><td>Dipayal</td><td class="center">34.3</td><td class="center">24.0</td><td class="center">Traces</td></tr><tr><td>Dadeldhura</td><td class="center">24.1</td><td class="center">17.1</td><td class="center">0.3</td></tr><tr><td>Dhangadi</td><td class="center">30.5</td><td class="center">25.0</td><td class="center">7.4</td></tr><tr><td>Birendranagar</td><td class="center">29.8</td><td class="center">22.7</td><td class="center">9.7</td></tr><tr><td>Nepalgunj</td><td class="center">29.8</td><td class="center">26.2</td><td class="center">16.8</td></tr><tr><td>Jumla</td><td class="center">25.4</td><td class="center">14.6</td><td class="center">0.9</td></tr><tr><td>Ghorahi</td><td class="center">29.0</td><td class="center">23.8</td><td class="center">8.4</td></tr><tr><td>Pokhara</td><td class="center">30.6</td><td class="center">22.0</td><td class="center">105.2</td></tr><tr><td>Bhairahawa</td><td class="center">31.2</td><td class="center">25.4</td><td class="center">8.1</td></tr><tr><td>Simara</td><td class="center">32.4</td><td class="center">26.6</td><td class="center">22.1</td></tr><tr><td>Kathmandu</td><td class="center">28.2</td><td class="center">20.5</td><td class="center">45.4</td></tr><tr><td>Okhaldhunga</td><td class="center">26.8</td><td class="center">18.4</td><td class="center">22.9</td></tr><tr><td>Taplejung</td><td class="center">25.2</td><td class="center">18.8</td><td class="center">40.8</td></tr><tr><td>Dhankuta</td><td class="center">29.3</td><td class="center">20.8</td><td class="center">8.6</td></tr><tr><td>Biratnagar</td><td class="center">33.2</td><td class="center">26.0</td><td class="center">15.5</td></tr><tr><td>Jomsom</td><td class="center">19.0</td><td class="center">13.0</td><td class="center">0.0*</td></tr><tr><td>Dharan</td><td class="center">33.0</td><td class="center">25.5</td><td class="center">11.9*</td></tr><tr><td>Lumle</td><td class="center">24.0</td><td class="center">18.0</td><td class="center">75.5*</td></tr><tr><td>Janakpur</td><td class="center">34.2</td><td class="center">26.0</td><td class="center">26.2*</td></tr><tr><td>Jiri</td><td class="center">24.2</td><td class="center">17.2</td><td class="center">35.6*</td></tr><tr><td align="right" colspan="4"><small>* Daily rainfall data ending at 08:45 AM NPT</small></td></tr></table>

In [4]:
right_table.findAll("tr")[0]

In [5]:
right_table.findAll("tr")[0].findAll("th")

[<th>Station</th>,
 <th class="center">Maximum Temp.<br/>(°C)</th>,
 <th class="center">Minimum Temp.<br/>(°C)</th>,
 <th class="center">24 hrs Rainfall<br/>(mm)</th>]

In [6]:
li = []
for each in right_table.findAll("tr")[0].findAll("th"):
    li.append(each.text)
li

['Station', 'Maximum Temp.(°C)', 'Minimum Temp.(°C)', '24 hrs Rainfall(mm)']

In [7]:
mydf = pd.DataFrame(columns= li)
for each in right_table.findAll("tr")[1:]:
    row = [x.text for x in each.findAll("td")]
    if len(row) == 1:
        break
    length = len(mydf)
    mydf.loc[length] = row

In [8]:
mydf

          Station Maximum Temp.(°C) Minimum Temp.(°C) 24 hrs Rainfall(mm)
0         Dipayal              34.3              24.0              Traces
1      Dadeldhura              24.1              17.1                 0.3
2        Dhangadi              30.5              25.0                 7.4
3   Birendranagar              29.8              22.7                 9.7
4       Nepalgunj              29.8              26.2                16.8
5           Jumla              25.4              14.6                 0.9
6         Ghorahi              29.0              23.8                 8.4
7         Pokhara              30.6              22.0               105.2
8      Bhairahawa              31.2              25.4                 8.1
9          Simara              32.4              26.6                22.1
10      Kathmandu              28.2              20.5                45.4
11    Okhaldhunga              26.8              18.4                22.9
12      Taplejung              25.2              18.8                40.8
13       Dhankuta              29.3              20.8                 8.6
14     Biratnagar              33.2              26.0                15.5
15         Jomsom              19.0              13.0                0.0*
16         Dharan              33.0              25.5               11.9*
17          Lumle              24.0              18.0               75.5*
18       Janakpur              34.2              26.0               26.2*
19           Jiri              24.2              17.2               35.6*