In [3]:
import pandas as pd

In [4]:
people = {
    'first': ['Ram', 'Hari', 'Gopal'],
    'last': ['Sharma', 'Yadav', 'Verma'],
    'email': ['ram@gmail.com', 'hari@yahoo.com', 'gopal@hotmail.com']
}

In [5]:
people_df = pd.DataFrame(people)

In [6]:
people_df

   first    last              email
0    Ram  Sharma      ram@gmail.com
1   Hari   Yadav     hari@yahoo.com
2  Gopal   Verma  gopal@hotmail.com

**Setting the new index**

In [7]:
people_df.set_index('email')

                   first    last
email
ram@gmail.com        Ram  Sharma
hari@yahoo.com      Hari   Yadav
gopal@hotmail.com  Gopal   Verma

In [8]:
people_df

   first    last              email
0    Ram  Sharma      ram@gmail.com
1   Hari   Yadav     hari@yahoo.com
2  Gopal   Verma  gopal@hotmail.com

In [9]:
people_df.set_index('email', inplace=True)

In [10]:
people_df

                   first    last
email
ram@gmail.com        Ram  Sharma
hari@yahoo.com      Hari   Yadav
gopal@hotmail.com  Gopal   Verma

In [11]:
people_df.index

Index(['ram@gmail.com', 'hari@yahoo.com', 'gopal@hotmail.com'], dtype='object', name='email')

**Checking the `loc` through our new index**

In [12]:
people_df.loc['ram@gmail.com']

first       Ram
last     Sharma
Name: ram@gmail.com, dtype: object

**Find the first names of ram@gmail.com and hari@yahoo.com**

In [13]:
people_df.loc[['ram@gmail.com', 'hari@yahoo.com'],'first']

email
ram@gmail.com      Ram
hari@yahoo.com    Hari
Name: first, dtype: object

In [14]:
people_df.loc[0]

KeyError: 0

In [15]:
people_df.iloc[0]

first       Ram
last     Sharma
Name: ram@gmail.com, dtype: object

**What if I want to "reset" the index**

In [16]:
people_df.reset_index()

               email  first    last
0      ram@gmail.com    Ram  Sharma
1     hari@yahoo.com   Hari   Yadav
2  gopal@hotmail.com  Gopal   Verma

In [17]:
people_df

                   first    last
email
ram@gmail.com        Ram  Sharma
hari@yahoo.com      Hari   Yadav
gopal@hotmail.com  Gopal   Verma

In [18]:
people_df.reset_index(inplace=True)

In [19]:
people_df

               email  first    last
0      ram@gmail.com    Ram  Sharma
1     hari@yahoo.com   Hari   Yadav
2  gopal@hotmail.com  Gopal   Verma